$black: #000;
$dark: #191a20; // 주컬러 다음으로 중요컬러
$primary: #3f4150; // 가장주되게 텍스트로 사용하는 컬러
$secondary: #8c8d96;
$tertiary: #b2b3b9; // 텍스트 컬러로 사용되는데 주컬러는 아닌!
$border: #e0e2e7;  // 배경보다 좀 더 진하면 보통 보더컬러로 사용
$background: #f7f8fa; //흰색다음으로 주 컬러를 배경으로 사용
$white: #fff;

$blue: #3da5f5;
$blue-dark: #3186c4;
$blue-light: #ecf6fe;

$red: #f86d7d;
$green: #22c58b;

